
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombres</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Telefono 1">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Telefono 2">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Direccion</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Direccion">
  </div>  

  <div class="row g-2">
    <div class="col-md">
      
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
          <option selected> </option>
          <option value="1">Fisica</option>
          <option value="2">Psicologica</option>
          <option value="3">Verbal</option>
          <option value="3">Otros</option>
        </select>
        <label for="floatingSelectGrid">Tipo De Denuncia</label>
      </div>
    </div>
  </div>


  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descripcion Denuncia</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form group">
  <br>     <!--[disabled]="login.invalid, para desabilitar el login si no hay usuario password-->
  <button class="btn btn-primary mr-5 btn-login"  type ="submit" >ACEPTAR</button> <!--mr-2 PARA SEPAR LOS BTN-->
  <button class="btn btn-secondary btn-volver" routerLink="/dashboard">VOLVER</button> 
  <!--AL COLOCAR SECONDARY CAMBIA EL ESTILO DEL BOTON-->
</div>  

<!--[disabled]="login.invalid"-->


